# 这是我个人常用的规则
{
    "extends": "eslint:recommended",
    "env":{
        "browser": true,
        "node":true
    },
    "rules": {
        "no-func-assign":0,
        "no-unexpected-multiline": 2,
        "block-scoped-var": 2,
        "consistent-return": 2,
        "curly": 2,
        "dot-location":[2,"property"],
        "eqeqeq": 2,
        "no-alert": 2,
        "no-caller": 2,
        "no-case-declarations": 2,
        "no-div-regex": 2,
        "no-else-return": 2,
        "no-eq-null": 2,
        "no-eval": 2,
        "no-extend-native": [2,{"exceptions":["Array"]}],
        "no-extra-bind": 2,
        "no-floating-decimal": 2,
        "no-implied-eval": 2,
        "no-invalid-this": 2,
        "no-labels": 2,
        "no-lone-blocks": 2,
        "no-loop-func": 2,
        "no-multi-spaces": 2,
        "no-multi-str": 2,
        "no-native-reassign": 2,
        "no-new-func": 2,
        "no-new-wrappers": 2,
        "no-new": 2,
        "no-octal-escape": 2,
        "no-process-env": 2,
        "no-proto": 2,
        "no-return-assign": 2,
        "no-self-compare": 2,
        "no-sequences": 2,
        "no-throw-literal": 2,
        "no-unused-expressions": [2, {"allowTernary": true}],
        "no-useless-call": 2,
        "no-useless-concat": 2,
        "no-void": 2,
        "no-with": 2,
        "radix": [2,"as-needed"],
        "wrap-iife": [2,"any"],
        "no-catch-shadow": 2,
        "no-shadow-restricted-names": 2,
        "no-undef-init": 2,
        "no-undefined": 2,
        "no-unused-vars": 2,
        "no-use-before-define": [2, "nofunc"],
        "no-new-require": 2,
        "no-path-concat": 2,
        "eol-last": 2,
        "indent": [2, 4, {"SwitchCase": 1}],
        "jsx-quotes": 2,
        "linebreak-style": [2, "unix"],
        "max-len": [2, 120, 4,{"ignoreComments":true}],
        "new-cap": 2,
        "new-parens": 2,
        "no-array-constructor": 2,
        "no-bitwise": 2,
        "no-lonely-if": 2,
        "no-multiple-empty-lines": [2, {"max": 2, "maxEOF": 1}],
        "no-negated-condition": 2,
        "no-new-object": 2,
        "no-trailing-spaces": [2,{ "skipBlankLines": true }],
        "no-unneeded-ternary": 2,
        "operator-linebreak": 2,
        "quote-props": [2,"as-needed",{"numbers": true}],
        "quotes": [2, "double", "avoid-escape"],
        "semi": 2,
        "space-after-keywords": 2,
        "space-before-keywords": 2,
        "space-infix-ops": 2,
        "space-return-throw-case": 2,
        "comma-spacing": 2,
        "wrap-regex": 2,
        "constructor-super": 2,
        "generator-star-spacing": 2,
        "no-arrow-condition": 2,
        "no-class-assign": 2,
        "no-const-assign": 2,
        "no-dupe-class-members": 2,
        "require-yield": 2,
    }
}

